@font-face {
  font-family: "MANSALVA FONT";
  font-style: normal;
  font-weight: normal;
  src: local('MANSALVA FONT'), url('Mansalva-Regular.ttf') format('truetype'); 
}

h1, h2, h3, h4 {
  font-family: 'MANSALVA FONT';
  font-weight: 200;
  /*color: #0ccac4;*/
}

body{
	background-color: #C5AE68;
}
